<html ng-app="smy">

<head>
  <meta charset="UTF-8">
  <!-- Notes -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bower_components/highlightjs/styles/railscasts.css">
  <!-- Style -->
  <style>
    .row.ng-scope {
      padding: 20px;
    }
  </style>
</head>

<body ng-controller="summaryController" class="container">
  <div class="row">
    <button class="btn btn-primary" ng-click="addSummary()">เพิ่มสรุป</button>
  </div>
  <div class="row" ng-repeat="smy in summaries" ng-controller="smyController as sum">
    <div class="col-md-6">
      <div class="row">
        <input type="text" class="form-control" id="smyName" ng-model="smy.smyName" required ng-minlength="3">
      </div>
      <div class="row">
        <textarea class="form-control" id="smyText" ng-model="smy.smyText" required ng-minlength="3" ng-change="summaries.$save(smy)" auto-grow></textarea>
      </div>
      <div class="row">
        <button class="btn btn-danger" ng-click="summaries.$remove(smy)">ลบ</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <h2>{{ smy.smyName }}</h2>
      </div>
      <div class="row">
        <div id="outputText" ng-bind-html="outputText"></div>
      </div>
    </div>
  </div>
  <!-- <pre ng-repeat="smy in summaries"> {{ smy | json }}</pre> -->

  <!-- application HTML will go here -->
  <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="./bower_components/marked/lib/marked.js"></script>
  <script type="text/javascript" src="./bower_components/highlightjs/highlight.pack.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
  <script type="text/javascript" src="./app/app.js"></script>
</body>

</html>
