<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Notes</title>
    <meta charset="UTF-8">
    <!-- Notes -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/highlightjs/styles/railscasts.css">
    <!-- Style -->
    <style type="text/css" media="screen">
      body {
        padding-top: 100px;
      }
      textarea{
        overflow: hidden;
      }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" ng-controller="markedController as marked">
    <!-- <h2>GitHub flavored markdown with angular.js and marked</h2> -->
    <div class="row">
    <div class="col-sm-6">
      <form ng-submit="addMessage()">
        <textarea class="form-control" id="inputText" ng-model="marked.inputText" auto-grow></textarea>
        <input type="submit" value="Add Message">
      </form>
    </div>
    <div class="col-sm-6">
      <div id="outputText" ng-bind-html="marked.outputText"></div>
    </div>

    <!-- <pre>{{ message | json }}</pre>
    <textarea class="form-control" id="inputText" ng-model="message" ng-change="message.$save()" auto-grow></textarea> -->
    <pre></pre>
  </div>
  </div>
</nav>

<!-- application HTML will go here -->

<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="./bower_components/marked/lib/marked.js"></script>
<script type="text/javascript" src="./bower_components/highlightjs/highlight.pack.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
</body>
</html>
